.user_control{
    .user_control_table{
        margin-top: 30px;
        .user_control_table_but{
            margin-bottom: 10px;
        }
        .user_control_table_page{
            margin-top: 20px;
            text-align: right;
        }
    }
}
.tenants_upload{
    display: inline-block;
}

